html,
body {
    height: 100%;
}

body {
    padding: 50px 0 0 0;
}

.navmenu {
    padding-top: 50px;
}

.navbar {
    display: block;
    text-align: center;
}

.navbar-brand {
    display: inline-block;
    float: none;
}

.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
}

.container {
    max-width: 100%;
}

@media (min-width: 1px) {
    .navbar-toggle {
        display: block !important;
    }
}

@media (min-width: 992px) {
    body {
        padding: 0 0 0 300px;
    }
    .navmenu {
        padding-top: 0;
    }
    .navbar {
        display: none !important;
        /* IE8 fix */
    }
}

.thumbnail {
    height: 50px;
    margin-bottom: 5px;
}

.thumbnail-container {
    float: left;
}

.menu-wrapper p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.menu-wrapper>p {
    font-weight: bold;
}

.chevron-right {
    position: absolute;
    right: 6px;
    top: 14px;
    opacity: 0.5;
}
.navmenu-nav {
      background-color: #FFFFFF;
}

.menu-wrapper {
    height: 56px;
    cursor: pointer;
}

.text-container {
    margin: 5px 0 5px 0;
    float: right;
}

.bigger-image {
    width: 60%;
}

.repeat-icon {
    position: absolute;
    right: 12px;
    top: 25px;
    font-weight: bolder;
}